body{
    background-color: whitesmoke;
    height: 100vw;
    margin-left: auto;
    margin-right: auto;
    padding: 6%;
}
.bgCard{
    margin: auto;
    background-color: white;
    max-width: 30%;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
}

.textarea{
    min-width: 98%;
    display: inline-block;
    padding: 1%;
    border-radius: 10px;
    margin-bottom: 30px;
}

.button{
    margin-bottom: 30px;
}