body{
    background-color: whitesmoke;
    height: 100vw;
    margin-left: auto;
    margin-right: auto;
    padding: 6%;
}
.bgCard{
    margin: auto;
    background-color: white;
    max-width: 20%;
    width: 20%;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
}

.textarea{
    margin: 10px;
}
